<launch>
	<arg name="fcu_url" default="serial:///dev/ttyACM0:921600" />
	<arg name="gcs_url" default="udp://:14556@192.168.0.105:14550" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="50" />

	<node name="msf_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
		<remap from="msf_core/imu_state_input" to="/mavros/imu/data" />
		<remap from="msf_updates/pose_with_covariance_input" to="/svo/pose" />
		<rosparam file="$(find msf_updates)/px4_svo_sensor_fix.yaml"/>
	</node>
</launch>
